include LICENSE.md
include README.rst
recursive-include sphinx_symbiflow_theme/sphinx_symbiflow_theme *
include versioneer.py
include sphinx_symbiflow_theme/_version.py
include setup.cfg
include requirements.txt
include requirements-dev.txt
